.footer {
  padding:40px 0;
  background: $dark-blue;

  .socials{
    display: flex;
    justify-content: center;
    align-items: center;

    &__item{
      width:50px;
      height: 50px;
      border-radius: 50%;
      background: $dark-font-gray;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      transition: all ease .5s;
      text-decoration: none;
      color: $dark-blue;
      font-size: 25px;
      box-sizing: border-box;

      &.vk{
        font-size: 1.5em;
      }

      &.fb, &.od{
        font-size:22px;
      }



      @include screen-xs(){
        width:35px;
        height: 35px;
        font-size: 18px !important;
      }



      &:hover{
        background: #10439f;
      }

    }
  }
  .text-wrap{
    display: flex;
    width:70%;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: space-between;

    @include screen-md(){
      width: 100%;
    }
    @include screen-sm(){
      margin-top: 15px;
      flex-direction: column;
    }
  }
  .text{
    color: $dark-font-gray;
    font-size: 1.5rem;
    @include screen-sm(){
     text-align: center;
      margin-top: 10px;
    }
    a{
      color: #818c99;
      &:hover{
        text-decoration: none;
      }
    }
  }
}