#team{
  background: $light-blue;
  color: #fff;
  position: relative;

  .title{
    text-align: center;
    margin-bottom: 3rem;
  }
  .text{
    font-size: 21px;
    text-align: center;
    font-weight: 300;
  }
.team-slider{
  margin-top: 6rem;
  margin-bottom: 5rem;
  position: relative;

}
  .person{

    display: inline-block;
    margin: 10px 25px;
    margin-top: 90px;
    position: relative;
    font-size: 17px;
    padding: 2rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    outline: none;

    &__img{
      width: 55%;
      padding-bottom: 55%;
      border-radius: 50%;
      border:10px solid #fff;
      box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
      position: absolute;
      top: -25%;
      left: 23%;
    }
    &__name{
      text-transform: uppercase;
      font-weight:900;
      font-size: 1.3em;
      margin-top: 40%;
      text-align: center;
      color: $font-gray-dark
    }
    &__position{
      text-align: center;
      margin:1rem 0;
      font-weight: 400;
      color: $font-gray;
    }
    &__soc{
      height: 50px;
    }

  }
  .slick-dots li.slick-active button:before{
    content: '';
    border-radius: 50%;
    border:2px solid $light-blue;
    background: #97daff;
  }
  .slick-dots li button:before{
    content: '';
    border-radius: 50%;
    background: $light-blue;
    transition: all ease .3s;
  }

  .wave{
    position: absolute;
    padding: 0;
    margin:0;
    list-style: none;
    width: 100%;
    bottom: -5px;
    left:0;
    height:70%;
    overflow: hidden;

    .layer{
      position: absolute;
      max-height:70%;
      left:-5% !important;

      @include screen-xl(){
        bottom: 0 !important;
        top: auto !important;
      }
      img{
        width:110%;

      }
    }
  }
}