<section id="about">
    <div class="container">
        <div class="content">
            <div class="title">
                О нас
            </div>
            <div class="text">
                <p> Компания Millenium оказывает профессиональные услуги по созданию и поддержке сайтов и
                    интернет-магазинов
                    на различных CMS, таких как 1С-Битрикс, ModX, Webasyst, Joomla и др. Наша компания - золотой партнер
                    1С-Битрикс, все наши работы проходят мониторинг качества. Прозрачное и понятное взаимодействие с
                    заказчиком через систему постановки задач!
                </p>
                <p>
                    Все специалисты в штате! Никаких фрилансеров, мы работаем в команде и это позволяет качественно и
                    оперативно решать любые задачи без промедлений!
                </p>
            </div>
        </div>
        <div class="graphic">
            <div class="floor1"><img src="img/floor1.png" alt=""></div>
            <div class="floor2"><img src="img/floor2.png" alt=""></div>
            <div class="floor3"><img src="img/floor3.png" alt=""></div>
        </div>
    </div>
</section>