<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="socials">
            <div class="socials_item vk">
                <img src="img/vk.png" alt="">
            </div>
            <div class="socials_item fb">
                <img src="img/fb.png" alt="">
            </div>
            <div class="socials_item od">
                <img src="img/od.png" alt="">
            </div>
            <div class="socials_item in">
                <img src="img/in.png" alt="">
            </div>
            <div class="socials_item tw">
                <img src="img/tw.png" alt="">
            </div>
        </div>
    </div>
</footer>