<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="socials">
            <a href="" class="socials__item vk">
                <!--<img src="img/vk.png" alt="">-->
                <i class="fa fa-vk" aria-hidden="true"></i>
            </a>
            <a href="" class="socials__item fb">
                <!--<img src="img/fb.png" alt="">-->
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="" class="socials__item od">
                <!--<img src="img/od.png" alt="">-->
                <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
            </a>
            <a href="" class="socials__item in">
                <!--<img src="img/in.png" alt="">-->
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="" class="socials__item tw">
                <!--<img src="img/tw.png" alt="">-->
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </div>
        <div class="text-wrap">
            <div class="text">© 2017 Millenium. All rights reserved.</div>
            <div class="text">Developed by <a href="http://webcenter.pro">Webcenter.pro</a></div>
        </div>
    </div>
</footer>