<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="mobile-menu">
            <div class="logo"><img class="logo__img" src="img/millenium-logo.png" alt=""></div>
            <div class="toggle-button">
                <span> </span>
            </div>
        </div>

        <ul class="nav">
            <li class="nav__item"><a href="" class="nav__link">Преимущества</a></li>
            <li class="nav__item  active"><a href="" class="nav__link">О нас</a></li>
            <li class="nav__item"><a href="" class="nav__link">Цены</a></li>
            <li class="nav__item logo"><img src="img/millenium-logo.png" alt=""></li>
            <li class="nav__item"><a href="" class="nav__link">Наша команда</a></li>
            <li class="nav__item"><a href="" class="nav__link">Галерея</a></li>
            <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
        </ul>
    </div>
</header>