<section id="portfolio">
    <div class="container">
        <div class="title-wrap">
            <div class="title">
                Наше портфолио
            </div>
            <div class="text">
                Мы производим красивые дизайнерские решения и сложные разработки, которые подкрепляются концептуальным
                мышлением и тщательным вниманием к деталям.
            </div>
        </div>

        <ul class="case-studies-list">
            <li itemscope="" itemtype="http://schema.org/CreativeWork">
                <a href=""  style="background-image: url('img/project1.jpg');" class="case-study">
                <div class="case-study-mask"></div>
                <div class="case-study-reveal-mask"></div>
                <div class="case-study-mask-number">
                    <div class="case-study-mask-back">01</div>
                    <div class="case-study-mask-front">
                        <div data-index="01" class="case-study-mask-overlay">01</div>
                    </div>
                </div>
                <div class="case-study-text-section"><h3 itemprop="name" class="h2 case-study-title">Интернет-магазин Allmart.com</h3>
                    <h5 itemprop="description" class="case-study-subtitle">Web-дизайн</h5>
                    <button class="the-button call-to-button"><span class="button-text">Подробнее</span>
                        <div class="button-mask"></div>
                        <span class="button-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="#fff"  viewBox="0 0 476.213 476.213"><path
                                d="M405.606 167.5l-21.212 21.213 34.393 34.393H0v30h418.787L384.394 287.5l21.212 21.213 70.607-70.607"></path></svg></span>
                    </button>
                </div>
            </a>
            </li>
            <li itemscope="" itemtype="http://schema.org/CreativeWork">
                <a href="" style="background-image: url('img/project2.jpg');" class="case-study ">
                <div class="case-study-mask"></div>
                <div class="case-study-reveal-mask"></div>
                <div class="case-study-mask-number">
                    <div class="case-study-mask-back">02</div>
                    <div class="case-study-mask-front">
                        <div data-index="02" class="case-study-mask-overlay">02</div>
                    </div>
                </div>
                <div class="case-study-text-section"><h3 itemprop="name" class="h2 case-study-title">Интернет-магазин Kmart.com</h3>
                    <h5 itemprop="description" class="case-study-subtitle">Web-дизайн</h5>
                    <button class="the-button call-to-button"><span class="button-text">Подробнее</span>
                        <div class="button-mask"></div>
                        <span class="button-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="#fff"  viewBox="0 0 476.213 476.213"><path
                                d="M405.606 167.5l-21.212 21.213 34.393 34.393H0v30h418.787L384.394 287.5l21.212 21.213 70.607-70.607"></path></svg></span>
                    </button>
                </div>
            </a></li>
            <li itemscope="" itemtype="http://schema.org/CreativeWork">
                <a href="" style="background-image: url('img/project3.jpg');"  class="case-study">
                <div class="case-study-mask"></div>
                <div class="case-study-reveal-mask"></div>
                <div class="case-study-mask-number">
                    <div class="case-study-mask-back">03</div>
                    <div class="case-study-mask-front">
                        <div data-index="03" class="case-study-mask-overlay">03</div>
                    </div>
                </div>
                <div class="case-study-text-section"><h3 itemprop="name" class="h2 case-study-title">Проект Formart.com</h3>
                    <h5 itemprop="description" class="case-study-subtitle">Backend-разработка</h5>
                    <button class="the-button call-to-button"><span class="button-text">Подробнее</span>
                        <div class="button-mask"></div>
                        <span class="button-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 476.213 476.213"><path
                                d="M405.606 167.5l-21.212 21.213 34.393 34.393H0v30h418.787L384.394 287.5l21.212 21.213 70.607-70.607"></path></svg></span>
                    </button>
                </div>
            </a></li>
            <li itemscope="" itemtype="http://schema.org/CreativeWork">
                <a href="" style="background-image: url('img/project4.jpg');" class="case-study ">
                <div class="case-study-mask"></div>
                <div class="case-study-reveal-mask"></div>
                <div class="case-study-mask-number">
                    <div class="case-study-mask-back">04</div>
                    <div class="case-study-mask-front">
                        <div data-index="04" class="case-study-mask-overlay">04</div>
                    </div>
                </div>
                <div class="case-study-text-section"><h3 itemprop="name" class="h2 case-study-title">Проект mart.com
                </h3><h5 itemprop="description" class="case-study-subtitle">Web-дизайн</h5>
                    <button class="the-button call-to-button"><span class="button-text">Подробнее</span>
                        <div class="button-mask"></div>
                        <span class="button-icon"><svg xmlns="http://www.w3.org/2000/svg"  fill="#fff" viewBox="0 0 476.213 476.213"><path
                                d="M405.606 167.5l-21.212 21.213 34.393 34.393H0v30h418.787L384.394 287.5l21.212 21.213 70.607-70.607"></path></svg></span>
                    </button>
                </div>
            </a></li>
        </ul>
    </div>
</section>