<section id="prices">
    <div class="container">
        <div class="title">
            Цены
        </div>

        <div class="prices-wrap">
            <div class="price-card">
                <div class="price-card__count">9 999 </div>
                <div class="price-card__work">Контентная поддержка</div>
                <ul class="work-list">
                    <li class="work-list__item">Размещение контента на сайте</li>
                    <li class="work-list__item">Уникальный дизайн страниц</li>
                    <li class="work-list__item">Решение проблем безопасноти</li>
                    <li class="work-list__item">Верстка дополнительных страниц</li>
                </ul>
                <a href="" class="btn __blue">КУПИТЬ</a>
            </div>
            <div class="price-card">
                <div class="price-card__count">19 999 </div>
                <div class="price-card__work">Техническая поддержка</div>
                <ul class="work-list">
                    <li class="work-list__item">Размещение контента на сайте</li>
                    <li class="work-list__item">Уникальный дизайн страниц</li>
                    <li class="work-list__item">Решение проблем безопасноти</li>
                    <li class="work-list__item">Верстка дополнительных страниц</li>
                </ul>
                <a href="" class="btn __blue">КУПИТЬ</a>
            </div>
            <div class="price-card">
                <div class="price-card__count">29 999</div>
                <div class="price-card__work">Все включено</div>
                <ul class="work-list">
                    <li class="work-list__item">Размещение контента на сайте</li>
                    <li class="work-list__item">Уникальный дизайн страниц</li>
                    <li class="work-list__item">Решение проблем безопасноти</li>
                    <li class="work-list__item">Верстка дополнительных страниц</li>
                </ul>
                <a href="" class="btn __blue">КУПИТЬ</a>
            </div>
        </div>
    </div>

</section>