<section id="profits">
    <div class="container">
        <div class="profit-wrap">
            <div class="profit-block">
                <div class="profit-block__img">
                    <img src="img/profit1.png" alt="">
                </div>
                <div class="profit-block__title">Адаптивная верстка</div>
                <div class="profit-block__descr">Ваш сайт будет выглядеть правильно на любых устройствах! Мы используем
                    фреймворк Bootstrap.</div>
            </div>
            <div class="profit-block">
                <div class="profit-block__img">
                    <img src="img/profit2.png" alt="">
                </div>
                <div class="profit-block__title">Уникальный контент</div>
                <div class="profit-block__descr">Качественно подобранные и оформленные тексты имеют огромное значение! </div>
            </div>
            <div class="profit-block">
                <div class="profit-block__img">
                    <img src="img/profit3.png" alt="">
                </div>
                <div class="profit-block__title">Срочные доработки</div>
                <div class="profit-block__descr">Мы понимаем важность
                    критических неполадок и готовы в срочном порядке
                    приступить к их устранению </div>
            </div>
            <div class="profit-block">
                <div class="profit-block__img">
                    <img src="img/profit4.png" alt="">
                </div>
                <div class="profit-block__title">Поддержка 24/7</div>
                <div class="profit-block__descr">Мы используем лицензионную систему, которая позволяет ставить задачи  в любое время дня или ночи.</div>
            </div>
        </div>

    </div>
</section>