<section id="first">
    <div class="container">
        <div class="title">
            Мы превращаем мечты
            в реальность
        </div>
        <ul class="work-type">
            <li class="work-type__item">
                Дизайн
            </li>
            <li class="work-type__item">
                Проектирование
            </li>
            <li class="work-type__item">
                Веб-разработка
            </li>
            <li class="work-type__item">
                Seo-оптимизация
            </li>
            <li class="work-type__item">
                Поддержка проектов
            </li>
        </ul>

        <a class="btn">СВЯЗАТЬСЯ</a>
        <div class="graphics">
            <div class="path"></div>
            <div class="graphics__cut">
                <div class="circles"></div>
            </div>
            <div class="notebook"><img src="img/rocket.png" alt=""></div>
        </div>

    </div>
</section>