<section id="team">

    <div class="container">
        <div class="title">
            Наша команда
        </div>
        <div class="text">
            Высокий уровень профессиональной подготовки
        </div>


            <ul id="scene" class="wave scene" data-calibrate-x="false" >
                <li class="layer" data-depth="-0.00"><img src="img/layer6.png"></li>
                <li class="layer" data-depth="0.20" data-depth-y="-0.80"><img src="img/layer5.png"></li>
                <li class="layer" data-depth="-0.40" data-depth-y="-0.20"><img src="img/layer4.png"></li>
                <li class="layer" data-depth="0.60" data-depth-y="-0.30"><img src="img/layer3.png"></li>
                <li class="layer" data-depth="-0.80"><img src="img/layer2.png"></li>
                <li class="layer" data-depth="1.00"><img src="img/layer1.png"></li>
            </ul>


        <div class="team-slider">
            <div class="person">
                <div class="person__img"
                     style="background: url('img/person1.jpg') center no-repeat; background-size: cover">
                    <!--<img src="" alt="">-->
                </div>
                <div class="person__name">АННА ИВАНОВА</div>
                <div class="person__position">Арт-директор</div>
                <div class="person__soc"></div>
            </div>
            <div class="person">
                <div class="person__img"
                     style="background: url('img/person2.jpg') center no-repeat; background-size: cover">
                    <!--<img src="" alt="">-->
                </div>
                <div class="person__name">ДЕНИС ФЕДОРОВ</div>
                <div class="person__position">Технический директор</div>
                <div class="person__soc"></div>
            </div>
            <div class="person">
                <div class="person__img"
                     style="background: url('img/person3.jpg') center no-repeat; background-size: cover">
                    <!--<img src="" alt="">-->
                </div>
                <div class="person__name">НИКИТА СИДОРОВ</div>
                <div class="person__position">Frontend-разработчик</div>
                <div class="person__soc"></div>
            </div>
            <div class="person">
                <div class="person__img"
                     style="background: url('img/person4.jpg') center no-repeat; background-size: cover">
                    <!--<img src="" alt="">-->
                </div>
                <div class="person__name">ИННА ФЕДОРОВА</div>
                <div class="person__position">Backend-разработчик</div>
                <div class="person__soc"></div>
            </div>
            <div class="person">
                <div class="person__img"
                     style="background: url('img/person2.jpg') center no-repeat; background-size: cover">
                    <!--<img src="" alt="">-->
                </div>
                <div class="person__name">ДЕНИС ФЕДОРОВ</div>
                <div class="person__position">Технический директор</div>
                <div class="person__soc"></div>
            </div>
            <div class="person">
                <div class="person__img"
                     style="background: url('img/person3.jpg') center no-repeat; background-size: cover">
                    <!--<img src="" alt="">-->
                </div>
                <div class="person__name">НИКИТА СИДОРОВ</div>
                <div class="person__position">Frontend-разработчик</div>
                <div class="person__soc"></div>
            </div>
            <div class="person">
                <div class="person__img"
                     style="background: url('img/person4.jpg') center no-repeat; background-size: cover">
                    <!--<img src="" alt="">-->
                </div>
                <div class="person__name">ИННА ФЕДОРОВА</div>
                <div class="person__position">Backend-разработчик</div>
                <div class="person__soc"></div>
            </div>
        </div>
    </div>
</section>